@import url("~normalize.css/normalize.css");
@import url("~leaflet/dist/leaflet.css");
@import url("~kendo/css/kendo.common-material.min.css");
@import url("~kendo/css/kendo.material.min.css");
//@import url("~bootstrap/dist/css/bootstrap.css");

.app
  height 100%
