#map
  position absolute !important
  z-index 1
  top 123px
  bottom 0
  left 400px
  right 0

.c-legend

  &--empty
    width: 400px;
    text-align: center;
    font-weight: bold;
    left -10px
    position relative


.c-tab
  &__content
    margin-left 10px


.tab-strip.k-widget.k-header.k-tabstrip.k-floatwrap.k-tabstrip-left
  background-color #fff !important
